@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: 0.1s;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
    @apply h-screen w-screen bg-white dark:bg-slate-800 overflow-hidden
}
.aurora-outer {
    background: linear-gradient(45deg, #7eb6b2  0%, #73b3e4 49%, #ca7bee 82%);
    background-size: 200%;
    animation: aurora 10s infinite;
}
@keyframes aurora {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}