@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-secondary-50;
    transition: 0.3s;
}

body {
    @apply bg-secondary-800
}

.menu {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    @apply fixed left-0 right-0 bottom-0 transform xs:bottom-8 xs:left-1/2 xs:right-auto xs:-translate-x-1/2
}
.menu__inner {
    @apply relative bg-secondary-900/40 z-20 overflow-hidden xs:rounded-lg
}
.menu__content {
    @apply relative w-full
}
.menu__content a {
    @apply cursor-pointer flex items-center justify-center px-1 text-xs xs:px-[18px] pb-[2px] xs:text-[14px] font-bold h-[50px] leading-none 
}